<<<<<<< HEAD
[phases.setup]
apt_pkgs = ["ffmpeg", "libsndfile1"]  # Aseg煤rate de instalar ffmpeg y libsndfile1

[phases.install]
commands = [
  "pip install -r requirements.txt"
]

[phases.build]
commands = [
  "echo ' Cargando configuraci贸n...'",
  "if [ -f config.env ]; then export $(cat config.env | xargs); echo 'API_KEY cargada desde config.env'; else echo '锔 No se encontr贸 el archivo config.env'; fi"
]

[phases.start]
commands = [
  "gunicorn -w 4 -b 0.0.0.0:$PORT main:app"
]
=======
[phases.setup]
apt_pkgs = ["ffmpeg"]

[phases.install]
commands = [
  "pip install -r requirements.txt"
]

[phases.build]
commands = [
  "echo ' Cargando configuraci贸n...'",
  "if [ -f config.env ]; then export $(cat config.env | xargs); echo 'API_KEY cargada desde config.env'; else echo '锔 No se encontr贸 el archivo config.env'; fi"
]

[phases.start]
commands = [
  "gunicorn -w 4 -b 0.0.0.0:$PORT main:app"
]
>>>>>>> 818c130 (Guardando cambios antes del rebase)
